/* ==|====================
   Module/Box
   ======================= */
   
.boxProfesor {
  width: 280px; height: 480px; padding: 0; margin: 0 0 10px 0; position: relative; background-color: transparent; box-shadow: 0 0 10px rgba($black, 0.0); @include transition(all 0.36s ease); @include box-sizing(border-box); @include displayFlex(flex, column, center, center, wrap); overflow: hidden; @include border-top-radius(30px); @include border-bottom-radius(30px);
  .circleImage {
    width: 230px; height: 230px; margin: 0 auto 10px auto; padding: 0; position: relative; overflow: hidden; @include transition(width 0.25s ease, height 0.25s ease); @include border-top-radius(50%); @include border-bottom-radius(50%); box-shadow: 0 0 8px rgba($black, 0.10);
    img {
      width: 100%; min-width: 300px; height: auto; padding: 0; margin: 0; @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%)); @include transition(all 0.25s);
    }
  }
  figcaption {
    width: 100%; height: auto; padding: 10px 10px; margin: 0 0 0 0; @include box-sizing(border-box);
    h5 {
      margin: 0 0 10px 0; padding: 0; font-size: rem(15px); color: $col3; text-transform: uppercase; text-align: center;
    }
    p {
      text-align: center; margin: 0 0 0 0; padding: 0; color: $c1; font-size: rem(13px);
      strong, b, span { 
        font-family: $goBold;
      }
      small {
        color: $c5; font-size: 90%;
      }
    }
    .puesto {
      width: 100%; height: auto; padding: 0; margin: 0 0 10px 0; @include box-sizing(border-box);
    }
    .descripcion {
      width: 100%; height: 0; padding: 0; margin: 0 0 0 0; @include box-sizing(border-box); position: relative; visibility: hidden; opacity: 0; @include transition(opacity 0.55s ease 0.15s, visibility 0.0s, height 0.20s ease-in-out);
    }
  }
  &:hover {
    background-color: $white; box-shadow: 0 0 10px rgba($black, 0.15);
    .circleImage {
      width: 150px; height: 150px;
      img {
        min-width: 180px; @include transform(translate(-50%, -50%));
      }
    }
    figcaption {
      .descripcion {
        visibility: visible; opacity: 1.0; height: auto;
      }
    }
  }
}


@media only screen and (min-width: 360px) {

  
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
  
}