/* ==|====================
   Modules/Inputs
   ======================= */

  form {
    label { font-size: rem(14px); color: $white; }
    fieldset {
      position: relative;
    }
    input[type="text"], input[type="email"] {
      background-color: $white!important; border: 1px solid $white!important; border-radius: 0!important; box-shadow: 0 0 5px rgba($black, 0.55);
      &:focus {
        border-color: $col1; outline: 0; box-shadow: 0 0 0 0.2rem rgba(147, 71, 21, 0.15);
      }
      &.error-line {
        border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.15);
      }
      @include placeholder {
        color: $c5;
      }
    }
    textarea {
      background-color: $white!important; border: 1px solid $white!important; border-radius: 0!important; box-shadow: 0 0 5px rgba($black, 0.55); width: 100%; height: auto;
      &:focus {
        border-color: $col1!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
      }
      &.error-line {
        border-color: red!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba(238, 116, 34, 0.15)!important;
      }
      @include placeholder {
        color: $c5;
      }
    }
    button[type="submit"], input[type="submit"] {
      width: auto; height: 36px; padding: 0 20px; margin: 0 0 0 0; text-transform: uppercase; text-align: center; color: $col3; display: inline-block; border: 1px solid $col1; @include box-sizing(border-box); line-height: 34px; font-size: rem(16px); cursor: pointer; position: relative; overflow: hidden; border-radius: 0; background-color: $col1; @include transition(all 0.23s); box-shadow: 0 0 5px rgba($black, 0.25);
      &:hover {
        background-color: $col3; color: $white; border: 1px solid $col3;
      }
    }
    .loadBtn {
      pointer-events: none; background-color: rgba(238, 116, 34, 0.377)!important; @include transition(all 0.25s ease 0s);
      &:after {
        content: ''; @include position(absolute, 50% null null 50%); width: 32px; height: 32px; margin: 0; padding: 0; background-image: url('#{$imgR}3.svg'); background-position: center; background-size: 100%; background-repeat: no-repeat; @include transform(translate(-50%, -50%));
      }
    }
    div.error-line {
      width: 20px; height: 20px; line-height: 20px; background-color: red; color: $white; font-size: rem(8px); padding: 0; margin: 0; @include position(absolute, -6px 0 null null); z-index: 3; border-radius: 50%; text-align: center;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .descForm {
    width: 100%; height: auto; padding: 0; margin: 0 0 10px 0; position: relative; text-align: center;
    h1, h2, h3, h4, h5, h6 {
      text-align: center; margin-bottom: 5px; font-size: rem(14px); text-align: center;
    }
    p { text-align: left; margin: 0 0 0 0; color: $white; }
  }

  .CheckStyle {
    position: absolute; opacity: 0;
    & ~ label {
      position: relative; cursor: pointer; padding: 0; font-size: rem(14px); color: $white;
    }
    & ~ label:before {
      content: ''; margin-right: 10px; display: inline-block; vertical-align: text-top; width: 20px; height: 20px; background: transparent; border: solid $white 1px; @include box-sizing(border-box); @include transition(all 0.25s ease); border-radius: 50%; box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    &:hover ~ label:before {
      background: rgba(255,255,255,0.35);
    }
    &:focus ~ label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    &:checked ~ label:before {
      background: rgba(255,255,255,0.10);
    }
    &:disabled ~ label {
      color: #b8b8b8;
      cursor: auto;
    }
    &:disabled ~ label:before {
      box-shadow: none;
      background: #ddd;
    }
    &:checked ~ label:after {
      content: ''; background: $col1; width: 20px; height: 20px; border-radius: 50%; @include position(absolute, 2px null null 0); box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
    }
  }
  .inpLay {
    position: relative;
    div.error-inp {
      width: auto; height: auto; background-color: red; color: $white; @include position(absolute, 0 null null null); @include transform(translateX(100%));
    }
  }
  .inputIcon {
    position: relative; width: 100%; height: auto; margin: 0; padding: 0;
    input[type="text"], input[type="email"], input[type="password"] {
      padding-left: 30px;
    }
    textarea {
      padding-left: 30px;
    }
    i {
      @include position(absolute, 50% null null 10px); @include transform(translateY(-50%)); color: $c5;
    }
  }

.radioCustom:checked,
.radioCustom:not(:checked) {
  position: absolute; left: -9999px;
}
.radioCustom:checked + label,
.radioCustom:not(:checked) + label {
  position: relative; padding-left: 28px; cursor: pointer; line-height: 16px; display: inline-block; color: $white; margin-bottom: 10px; margin-right: 16px; font-size: rem(16px)!important;
}
.radioCustom:checked + label:before,
.radioCustom:not(:checked) + label:before {
  content: ''; @include position(absolute, 0 null null 0); width: 18px; height: 18px; border: none; border-radius: 100%; background: rgba($white, 0.35);
}
.radioCustom:checked + label:after,
.radioCustom:not(:checked) + label:after {
  content: ''; width: 13px; height: 13px; background: $col1; @include position(absolute, 3px null null 3px); border-radius: 100%; @include transition(all 0.2s ease);
}
.radioCustom:not(:checked) + label:after {
  opacity: 0; @include transform(scale(0));
}
.radioCustom:checked + label:after {
  opacity: 1; @include transform(scale(1));
}

.g-recaptcha {
  @include transform(scale(0.74)); @include transform-origin(0 0); margin: 10px auto 10px auto; display: inline; position: relative;
  & > div {
    margin: 0 auto;
  }
 }
  
  @media only screen and (min-width: 360px) {
  
  }
  
  @media only screen and (min-width: 480px) {
  
  }
  
  @media only screen and (min-width: 576px) {
    .g-recaptcha {
      @include transform(scale(1.0));
    }
  }
  
  @media only screen and (min-width: 768px) {
    .inputIcon {
      input[type="text"], input[type="email"], input[type="password"] {
        padding-left: 10px;
      }
      textarea {
        padding-left: 10px;
      }
      i {
        @include position(absolute, 50% null null -25px); @include transform(translateY(-50%)); color: $col1;
      }
    }
  }
  
  @media only screen and (min-width: 992px) {
  
  }
  
  @media only screen and (min-width: 1024px) {
  
  }
  
  @media only screen and (min-width: 1200px) {
  
  }