/* ===========================
   Base
   =========================== */
html {
  scroll-behavior: smooth;
}
body {
  background-color: $white;
  font-family: $open;
  color: $black;
}

a {
  color: $col2;
  &:hover {
    @include transition(all 0.25s); text-decoration: none; color: $col1;
  }
}

p {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $goBold;
}

.wow {
  visibility: hidden; @include transform-origin(0 50%);
}

.btnCert {
  width: auto; height: auto; background-color: transparent; color: $col1; padding: 10px 20px; margin: 20px 0 0 0; -webkit-border-radius: 25px; border-radius: 25px; font-weight: 400; display: inline-block; text-transform: uppercase; border: 1px solid $col1; font-size: rem(14px);
  &:hover {
    color: $white; background-color: $col1;
  }
}

.dividerImg {
  width: 100%; height: 25px; display: block; background-color: $white; padding: 0; margin: 10px 0; background-image: url('#{$imgR}imgPrueba/estrellas_1.png'); background-position: center; background-size: 50%; background-repeat: no-repeat;
}
.dividerLine {
  width: 100%; height: 10px; display: block; padding: 0; margin: 10px 0; position: relative;
  &:after {
    content: ''; width: 50px; height: 1px; background-color: $col1; padding: 0; margin: 0 0; @include position(absolute, 50% null null 50%); @include transform(translate(-50%, -50%));
  }
}

.overlayGenerico {
  @extend .overlayClass; background-color: rgba($col3,0.75); z-index: 100; @include displayFlex(flex, column, center, center, wrap); opacity: 0; visibility: hidden; overflow-x: hidden;
}
.btnCloseModal {
  width: 40px; height: 40px; display: block; text-align: center; line-height: 40px; margin: 0; padding: 0; color: $col1; background-color: $black; @include position(absolute, -15px -15px null null); z-index: 4150; font-size: rem(25); border: none; cursor: pointer; border-radius: 50%; box-shadow: 0 0 1px rgba(0,0,0,0.25);
}
.modalAviso {
  width: 100%; max-width: 300px; height: auto; background-color: $col3; border: 1px solid $col1; @include box-sizing(border-box); padding: 0; margin: 0; position: relative; border-radius: 10px;
  .contentInfo {
    width: 100%; height: auto; overflow-y: auto; overflow-x: hidden; padding: 20px 30px; margin: 0; text-align: center;
    h2 { color: $col1; }
    p {
      color: $white; font-size: rem(14px);
    }
  }
}
.overProgress {
  @extend .overlayClass; background-color: rgba($col5, 0.85); z-index: 200;
}
.cont-mod-form {
  width: auto; height: auto; background-color: $col1; border: 2px solid $col3; @include box-sizing(border-box); padding: 0; margin: 0; @include position(absolute, 50% nunll null 50%); @include transform(translate(-50%, -50%)); border-radius: 10px; box-shadow: 0 0 6px rgba(0,0,0,0.25); opacity: 0; visibility: hidden; z-index: -1;
  .contentInfo {
    width: 100%; max-width: 400px; height: 300px; overflow-y: auto; overflow-x: hidden; padding: 20px 30px; margin: 0; @include displayFlex(flex, column, center, center, warp);
    h2, h3, h4 { color: $white; text-align: center; }
    p {
      color: $white; font-size: rem(14px); text-align: center;
      a {
        color: $white;
      }
    }
  }
  &.showMo {
    @include transition(visibility 0s, opacity 300ms ease); visibility: visible; opacity: 1; z-index: 1;
  }
  &.hideMo {
    opacity: 0; visibility: hidden; z-index: -1; @include transition(visibility 0s, opacity 300ms ease);
  }
}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 480px) {
  .modalAviso {
    max-width: 400px;
  }
}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {
  .modalAviso {
    max-width: 600px;
  }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@include keyframes(button) {
  0% {
    opacity: 0;
    @include transform(translate(-50px, 0px) skewX(-50deg)); width: 10%;
  }
  50% {
    opacity: 1;
    @include transform(translate(0, 0px) skewX(-50deg)); width: 100%;
  }
  100% {
    opacity: 0;
    @include transform(translate(300%, 0px) skewX(-50deg)); width: 50%;
  }
}