/* ==|====================
   Layout/Main
   ======================= */

main {
  width: 100%; height: auto; position: relative; padding: 0; margin: 0; z-index: 3;
}
article {
  width: 100%; height: auto; padding: 0; margin: 0; position: relative;
}
.descGen {
  width: 100%; height: auto; padding: 0; margin: 0 0 20px 0; position: relative;
  h1, h2, h3, h4, h5, h6 {
    text-align: center; margin-bottom: 5px;
  }
  p { text-align: center; margin: 0 0 0 0; }
}

#videoHome {
  @include position(fixed, 0 null null 0); width: 100%; min-width: 100%; height: auto; z-index: -1;
}

// Sections
.hero-sec {
  width: 100%; height: 180px; @include position(relative, null null null null); padding: 0 0; margin: 0 0 0 0;
  // background-color: transparent; background-image: url('#{$imgR}bgs/hero.jpg'); background-position: center bottom; background-repeat: no-repeat; background-size: cover;
  .contHero {
    width: 100%; height: auto; padding: 0; margin: 0; @include position(absolute, 50% null null 0); @include transform(translateY(-50%)); z-index: 4; display: block;
    .titleHeroHome {
      width: 100%; height: auto; padding: 0 0; margin: 0 0 10px 0; display: block;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0 0 20px 0; padding: 0; text-align: left; font-family: $goBlack;
    }
    h2 {
      font-size: rem(28px); background-color: $col3; display: inline; line-height: 1.2; color: $col1; margin: 0 0 0 0;
    }
    h5 {
      font-size: rem(15px); background-color: $col2; display: inline; color: $col3; font-family: $open; text-transform: uppercase; padding-left: 5px; padding-right: 5px;
    }
    p {
      text-align: left; margin: 0; padding: 0; color: $white; font-size: rem(13px); text-shadow: 0 0 3px rgba($col5, 0.25);
    }
  }
  .formUnete {
    width: 100%; height: auto; padding: 0 0; margin: 10px 0 0 0;
    form {
      @include displayFlex(flex, row, flex-start, center, wrap);
      input { width: 100%; margin-bottom: 10px; }
      button { width: 60%; }
    }
  }
  .header-title {
    width: 100%; height: 100%; @include position(absolute, 0 0 null null); z-index: 2; background-color: $col1; @include transition(all 0.25s);
  }
  .btnVideo {
    @extend .overlayClassAbs; font-size: 0; text-indent: -9999px; z-index: 3;
  }
  .scrollNext {
    width: 50px; height: 50px; display: block; margin: 0; padding: 0; @include position(absolute, null null 20px 50%); @include transform(translateX(-50%)); z-index: 6; line-height: 50px; text-align: center; color: $col3; font-size: rem(40px);
    &:hover {
      color: $col1;
    }
  }
}
.toolsHero {
  width: auto; height: auto; padding: 0; margin: 0; @include position(fixed, 50% 10px null null); @include transform(translateY(-50%)); z-index: 100; display: none;
  ul {
    list-style-type: none; @include displayFlex(flex, column, flex-start, flex-start, wrap); padding: 0; margin: 0;
    li {
      list-style-type: none; padding: 0 0 0 0; margin: 0 0 20px 0;
      a {
        display: block; width: 40px; height: 40px; color: $col1; font-size: rem(20px); margin: 0; padding: 0; text-align: center; line-height: 40px; background-color: transparent; @include border-top-radius(50%); @include border-bottom-radius(50%);
        &:hover {
          color: $col1; background-color: $col3;
        }
      }
    }
  }
}
.socialMobileBlock {
  width: 100%; height: auto; padding: 0; margin: 0; background-color: $col3; border-top: solid 1px $col1; border-bottom: solid 1px $col1; position: relative; display: block;
  ul {
    list-style-type: none; @include displayFlex(flex, row, center, center, wrap); padding: 0; margin: 0; width: 100%;
    li {
      list-style-type: none; padding: 0 0 0 0; margin: 0 0 0 0; width: auto;
      a {
        display: block; width: 50px; height: 40px; color: $col1; font-size: rem(20px); margin: 0; padding: 0; text-align: center; line-height: 40px; background-color: transparent; @include border-top-radius(50%); @include border-bottom-radius(50%);
        &:hover {
          color: $col1; background-color: $col3;
        }
      }
    }
  }
}
.contBtnMain {
  width: 100%; height: auto; padding: 0; margin: 20px 0; position: relative; display: block;
}

// Secciones
.modulo-uno {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 50px 0; margin: 0; overflow: hidden; background-color: $c9; background-image: url('#{$imgR}bgs/wallpaper_beneficios.png'); background-position: center; background-repeat: no-repeat; background-size: cover;
  .descGen {
    margin-bottom: 40px;
    h1, h2, h3, h4, h5, h6 {
      color: $white; font-size: rem(22px); text-transform: uppercase;
    }
    &:before, &:after {
      content: ''; width: 6px; height: 100%; @include position(absolute, 50% nunll null null); @include transform(translateY(-50%)); padding: 0; margin: 0; background-color: $col1; display: none;
    }
    &:before {
      left: -10px;
    }
    &:after {
      right: -10px;
    }
  }
  .copyDesc {
    width: 100%; height: auto; margin: 30px 0 10px 0; padding: 0 0 0 0;
    p {
      color: $black; text-align: center;
    }
  }
}
.modulo-dos {
  width: 100%; height: 220px; @include position(relative, null null null null); padding: 0 0; margin: 0 0 20px 0; overflow: hidden; background-image: url('#{$imgR}imgPrueba/bandera_eu.png'); background-position: center; background-size: cover; background-repeat: no-repeat; overflow: hidden;
}

.modulo-tres {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 60px 0; margin: 0 0 0 0; overflow: hidden; background-color: $c10;
  .boxProfesor {
    width: 100%;
  }
  .descGen {
    margin-bottom: 30px;
    h2 {
      color: $col3; text-transform: uppercase; font-size: rem(24px); text-align: left;
    }
    p {
      color: $c7; text-align: left;
    }
  }
  .slideProfCnt {
    position: relative; padding: 20px 0 0 0;
    .slideProfesrores {
      margin: 0 0 40px 0; padding: 0;
      .slick-slide {
        padding: 30px 0 0 0;
      }
    }
  }
  .contToolProf {
    width: 100%; height: auto; padding: 0; margin: 0 0 0 0; position: relative; text-align: center;
    .btnsGenericos  {
      margin-bottom: 16px;
    }
    .viewText {
      text-transform: uppercase; color: $col3; margin-top: 0;
      &:hover {
        color: $col5;
      }
    }
  }
}

.modulo-cuatro {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0 0 0; margin: 0 0 0 0; background-color: $col3; @include box-sizing(border-box);
  .formUneteUbi {
    width: 100%; height: auto; padding: 0 0; margin: 10px 0 0 0;
    form {
      @include displayFlex(flex, row, flex-start, center, wrap);
      input { width: 100%; margin-bottom: 10px; }
      button { width: 60%; }
    }
  }
  .descGen {
    margin-bottom: 40px; z-index: 1;
    h1, h2, h3, h4, h5, h6 {
      color: $white; text-align: left; color: $col1; margin-bottom: 20px;
    }
    h2 {
      font-size: rem(30px); text-transform: uppercase;
    }
    p {
      text-align: left; font-size: rem(13px); margin-bottom: rem(16px); color: $white;
      span, b, strong {
         text-transform: uppercase;
      }
    }
    address {
      text-align: left; font-size: rem(13px); margin-bottom: rem(16px); color: $white;
    }
  }
  .mapMiracle {
    width: 100%; height: auto; padding: 0; margin: 0; position: relative;
    #cd-google-map {
      @include transform(scale(1.04));
    }
    iframe {
      width: 100%; height: 500px; position: relative; @include transform(scale(1.05));
    }
  }
  .contUbicacion {
    width: 100%; height: auto; padding: 20px 10px; margin: 0; position: relative; @include box-sizing(border-box);
  }
  .logoUbi {
    width: 100%; height: auto; padding: 0; margin: 0 0 35px 0; position: relative;
    img {
      width: 100%; max-width: 180px; height: auto; display: block; margin: 0 auto 0 0; padding: 0;
    }
  }
}
.modulo-cinco {
  width: 100%; height: 700px; @include position(relative, null null null null); padding: 40px 0 20px 0; margin: 0; background-color: $white; @include box-sizing(border-box); @include displayFlex(flex, column, flex-start, flex-start, wrap); z-index: 3; overflow: hidden;
  .descGen {
    margin-bottom: 40px; z-index: 1;
    h1, h2, h3, h4, h5, h6 {
      color: $white; text-align: left; font-size: rem(30px); color: $col3;  text-transform: uppercase; margin-bottom: 20px;
    }
    p {
      text-align: left; font-size: rem(16px); color: $c1;
      span, b, strong {
         text-transform: uppercase;
      }
    }
  }
  .contBtnMain {
    text-align: left;
    a {
      font-size: rem(16px);
    }
  }
  .posrRel {
    position: relative; z-index: 3;
  }
  .cd-floating-background {
    @include position(absolute, null null null null); width: 100%; height: 100%; padding: 0; margin: 0; z-index: 1;
    background-image: url('#{$imgR}imgPrueba/mm_Back.png'); background-position: center right; background-size: cover; background-repeat: no-repeat;
  }
  .imgAbs {
    width: 100%; max-width: 200px; height: auto; @include position(absolute, null null null null);
  }
  .imgAbs-1 {
    top: initial; right: 130px; z-index: 1; bottom: 200px;
  }
  .imgAbs-2 {
    top: initial; right: -10px; z-index: 2; bottom: 120px;
  }
  .imgAbs-3 {
    bottom: 5px; right: 100px; z-index: 3;
  }
}

.datosForm {
  margin: 20px 0 0 0; text-align: center; color: $col1; font-size: rem(16px)!important;
  a {
    color: $col1;
    &:hover {
      color: $col3;
    }
  }
}

.frm-unete-cont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 100px 0 50px 0; margin: 0; background-color: $col4; @include box-sizing(border-box); z-index: 3; overflow: hidden;
  .descGen {
    margin-bottom: 40px; z-index: 1;
    h1, h2, h3, h4, h5, h6 {
      color: $col1; text-align: center; font-size: rem(30px); text-transform: uppercase; margin-bottom: 20px;
    }
    p {
      text-align: center; font-size: rem(16px); color: $white;
      span, b, strong {
         text-transform: uppercase;
      }
    }
  }
  form {
    input[type="text"], input[type="email"] {
      border-radius: 6px!important;
      &:focus {
        border: solid 1px $col1!important; outline: 0; box-shadow: 0 0 0 0.2rem rgba($col1, 0.15);
      }
    }
    hr {
      border-top: 1px solid $black;
    }
  }
  .btnCont {
    width: 100%; margin: 10px 0; padding: 0; position: relative; text-align: right;
    button {
      border-radius: 20px; height: 40px; line-height: 38px;
      &:hover {
        background-color: $col1;
      }
    }
  }
  .wizard > .content {
    background-color: transparent; margin: 0; min-height: auto;
  }
  .wizard {
    width: 100%; margin: 0 auto;
  }
  .content > .body {
    padding: 30px 0!important; width: 100%!important; float: left; position: relative!important; height: auto; padding: 2.5%;
    label {
      margin-bottom: 10px; font-size: rem(10px);
    }
    .descLabel {
      margin-bottom: 10px; font-size: rem(10px); color: $white;
    }
  }
  .steps ul {
    @include displayFlex(flex, wrap, center, center, wrap); width: 100%;
    li {
      float: inherit!important; width: auto!important; height: auto;
      a {
        margin: 0 0 0 0!important; border-radius: 0; padding: 0!important; width: 70px!important; height: 40px!important; text-align: center; line-height: 40px; background-color: $col5!important; color: rgba($white, 0.10)!important;
        .number { display: none!important; }
        &:hover {
          background-color: $col5; color:#fff; cursor: default; display: block; width: auto; margin: 0!important; padding: 0!important; text-decoration: none;-webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important;
        }
      }
      &.current {
        a {
          background-color: $col3!important; color: $col1!important;
        }
      }
      &.error {
        a {
          background-color: red!important; color: $white!important;
        }
      }
    }
  }
  .actions  {
    ul {
      @include displayFlex(flex!important, wrap, flex-end, center, wrap); width: 100%; text-align: inherit;
       li {
         a {
            width: auto; height: 35px; margin: 0 0 0 0; text-align: center; color: $col3; border: none; @include box-sizing(border-box); line-height: 35px; font-size: rem(14px); cursor: pointer; background-color: $col1; outline: 0;
            &:hover {
              box-shadow:0px 10px 10px rgba(0,0,0,0.2); @include transform(translateY(-3px)); color: $col5;
            }
            &:link, &:visited {
              text-decoration: none; text-transform:uppercase; position:relative; top:0; left:0; padding:0 20px; border-radius: 17px; display:inline-block; @include transition(all .5s)
            }
            &:active{
              box-shadow:0px 5px 10px rgba(0,0,0,0.2); @include transform(translateY(-1px));
            }
            &:after {
              content:""; text-decoration: none; text-transform:uppercase; position:absolute; width:100%; height:100%; top:0; left:0; border-radius:100px; display:inline-block; z-index:-1; @include transition(all .5s); background: $col1;
            }
         }
         &.disabled {
           a {
             cursor: none; opacity: 0.50; background-color: $white!important; color: $col3;
             &:after {
              background: $white;
            }
             &:hover {
              box-shadow: none; @include transform(translateY(0)); color: $col5;
            }
           }
         }
       }
    }
  }
}

.bgBlueInt {
  width: 100%; height: 80px; @include position(relative, null null null null); padding: 0 0; margin: 0 0 30px 0; background-color: $col3; @include box-sizing(border-box); overflow: hidden;
}
.avisoPrivacidad-cont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0 30px 0; margin: 0; background-color: $white; @include box-sizing(border-box); z-index: 3; overflow: hidden;
  h2 {
    color: $col3; text-align: center; margin-bottom: 25px;
  }
  p {
    text-align: left; font-size: rem(16px); color: $c1;
    span, b, strong {
      font-weight: 700;
    }
  }
  a { color: $col1; font-weight: 400; &:hover { color: $col3;; } }
}
.faQs-cont {
  width: 100%; height: auto; @include position(relative, null null null null); padding: 0 0 30px 0; margin: 0; background-color: $white; @include box-sizing(border-box); z-index: 3; overflow: hidden;
  h2.title-beneficios {
    color: $col3; text-align: center; margin-bottom: 25px;
  }
  .card { border: none;}
  .card-header {
    background-color: $white!important; border: none; border-bottom:solid 2px #312b80; word-wrap: break-word;
    h2 { word-wrap: break-word; font-size: rem(16px); }
    .btn-link {
      width: 100%; height: auto; position: relative; text-align: left; font-size: rem(14px); white-space: normal;
      i {
        width: auto; height: auto; @include position(absolute, 50% 10px null null); @include transform(translateY(-50%));
      }
      img {
        width: 30px; height: auto; @include position(absolute, 50% 10px null null); @include transform(translateY(-50%)); display: block; margin: 0; padding: 0;
      }
    }
  }
  .btn-link, .card-body {
    color: $c1; text-decoration: none; font-size: rem(13px);
  }
  .btn-link:hover, .btn-link:after { text-decoration: none; color: #312b80;}
}

@media only screen and (min-width: 360px) {
  .hero-sec {
    height: 200px;
  }
  .modulo-cinco {
    .imgAbs {
      width: 100%; max-width: 220px;
    }
    .imgAbs-1 {
      top: initial; right: 150px; z-index: 1; bottom: 200px;
    }
    .imgAbs-2 {
      top: initial; right: 0; z-index: 2; bottom: 150px;
    }
    .imgAbs-3 {
      bottom: 5px; right: 120px; z-index: 3;
    }
  }

}

@media only screen and (min-width: 480px) {
  .hero-sec {
    height: 270px;
    .contHero {
      h2 {
        font-size: rem(32px);
      }
      h5 {
        font-size: rem(16px);
      }
    }
  }
  .frm-unete-cont {
    .steps ul {
      li {
        a {
          width: 110px!important;
        }
      }
    }
  }
  .modulo-cinco {
    .imgAbs-1 {
      top: initial; right: 200px; z-index: 1; bottom: 200px;
    }
    .imgAbs-2 {
      top: initial; right: 0; z-index: 2; bottom: 150px;
    }
    .imgAbs-3 {
      bottom: 5px; right: 150px; z-index: 3;
    }
  }

}

@media only screen and (min-width: 576px) {
  .hero-sec {
    height: 320px;
    .formUnete {
      form {
        input { width: 50%; margin-bottom: 0; }
        button { width: 30%; }
      }
    }
  }
  .modulo-cuatro {
    .formUneteUbi {
      form {
        input { width: 50%; margin-bottom: 0; }
        button { width: 30%; }
      }
    }
  }
  .wizard {
    max-width: 540px;
  }
  .frm-unete-cont {
    .steps ul {
      li {
        a {
          width: 130px!important;
        }
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .hero-sec {
    height: 430px;
    .contHero {
      display: none;
      h2 {
        font-size: rem(40px);
      }
      h5 {
        font-size: rem(18px);
      }
      p {
        font-size: rem(14px);
      }
    }
    .logoBrand {
      width: 400px; height: 400px; @include position(absolute, 50% 0 null null); @include transform(translate(0, -50%));
      img {
        width: 250px;
      }
    }
  }
  .modulo-uno {
    .descGen {
      h1, h2, h3, h4, h5, h6 {
        font-size: rem(36px);
      }
      &:before, &:after {
        display: block;
      }
    }
  }
  #videoHome {
    display: block;
  }
  .modulo-cuatro {
    .descGen {
      h2 {
        font-size: rem(30px);
      }
      h4 {
        font-size: rem(20px);
      }
      h6 {
        font-size: rem(20px);
      }
      p {
        font-size: rem(14px);
      }
    }
  }
  .datosForm {
    font-size: rem(18px)!important;
  }
  .modulo-tres {
    .descGen {
      h2 {
        font-size: rem(28px);
      }
      h4 {
        font-size: rem(20px);
      }
    }
    .boxProfesor {
      width: 100%;
      .circleImage {
        width: 200px; height: 200px;
        img {
          width: 100%; min-width: 180px;
        }
      }
      &:hover {
        .circleImage {
          width: 150px; height: 150px;
          img {
            min-width: 180px;
          }
        }
      }
    }
  }
  .modulo-cinco {
    height: 700px;
    .cd-floating-background {
      background-image: url('#{$imgR}imgPrueba/mm_Back.png'); background-position: 100% 50%; background-size: cover; background-repeat: no-repeat;
    }
    .imgAbs {
      width: 100%; max-width: 300px;
    }
    .imgAbs-1 {
      bottom: 200px; right: 220px; top: initial;
    }
    .imgAbs-2 {
      bottom: 120px; right: 0; top: initial;
    }
    .imgAbs-3 {
      bottom: 5px; right: 200px;
    }
  }
  .wizard {
    max-width: 720px;
  }
  .frm-unete-cont {
    .wizard > .content {
      min-height: 750px;
    }
    .content > .body {
      position: absolute!important; height: 95%;
      label {
        margin-bottom: 10px; font-size: rem(10px);
      }
      .descLabel {
        margin-bottom: 10px; font-size: rem(10px); color: $white;
      }
    }
    .steps ul {
      li {
        a {
          width: 150px!important;
        }
      }
    }
  }
  .toolsHero {
    display: block;
  }
  .socialMobileBlock {
    display: none;
  }

}

@media only screen and (min-width: 992px) {
  .hero-sec {
    height: 570px;
    .contHero {
      h2 {
        font-size: rem(50px);
      }
      h5 {
        font-size: rem(20px);
      }
      p {
        font-size: rem(16px);
      }
    }
    .logoBrand {
      width: 450px; height: 450px; @include position(absolute, 50% 0 null null); @include transform(translate(0, -50%));
      img {
        width: 250px;
      }
    }
  }
  .modulo-cuatro {
    .descGen {
      h2 {
        font-size: rem(30px);
      }
      h4 {
        font-size: rem(25px);
      }
      h6 {
        font-size: rem(20px);
      }
    }
  }
  .modulo-tres {
    .descGen {
      h2 {
        font-size: rem(29px);
      }
      h4 {
        font-size: rem(20px);
      }
    }
  }
  .datosForm {
    font-size: rem(20px)!important;
  }
  .modulo-cinco {
    height: 700px; @include displayFlex(flex, column, center, flex-start, wrap);
    .cd-floating-background {
      background-image: url('#{$imgR}imgPrueba/mm_Back.png'); background-position: center right; background-size: cover; background-repeat: no-repeat;
    }
    .imgAbs {
      width: 100%; max-width: 400px;
    }
    .imgAbs-1 {
      top: -50px; right: 200px; bottom: initial;
    }
    .imgAbs-2 {
      top: 130px; right: 0; bottom: initial;
    }
    .imgAbs-3 {
      bottom: -50px; right: 280px;
    }
  }
  .wizard {
    max-width: 960px;
  }

}

@media only screen and (min-width: 1024px) {
  .datosForm {
    font-size: rem(24px)!important;
  }
  .modulo-tres {
    .boxProfesor {
      width: 100%;
      .circleImage {
        width: 200px; height: 200px;
        img {
          width: 100%; min-width: 230px;
        }
      }
      &:hover {
        .circleImage {
          width: 150px; height: 150px;
          img {
            min-width: 180px;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 1200px) {
  .hero-sec {
    height: 600px;
    .contHero {
      h2 {
        font-size: rem(60px);
      }
      h5 {
        font-size: rem(25px);
      }
    }
  }
  .modulo-tres {
    .boxProfesor {
      width: 100%;
      .circleImage {
        width: 230px; height: 230px;
        img {
          width: 100%; min-width: 300px;
        }
      }
      &:hover {
        .circleImage {
          width: 150px; height: 150px;
          img {
            min-width: 180px;
          }
        }
      }
    }
  }
  .wizard {
    max-width: 1140px;
  }

}
@media only screen and (min-width: 1366px) {
  #videoHome {
    min-width: 1366px;
  }

}
@media only screen and (min-width: 1400px) {
  .hero-sec {
    height: 100vh;
  }
}